#quick-links

    a
        border 1px solid red
        padding 6px 8px
        margin 0 8px 5px 0
        border-radius: 5px
        float left

    #twitter
        background-color: #1DA1F2
    #discord
        background-color: #7289da
    #instagram
        background-color: #E1306C
    #website
        background-color: gray
    #wiki
        background-color: #bfcaf1
    #twitch
        background-color: #9146FF