#timers
    clear both
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    row-gap: 20px

    article
        flex-basis: 30%x

        background-size: cover
        background-position: center center
        border-radius 5px
        padding 15px
        float left
        width 28%
        height 130px
        color black
        font-weight bold
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items flex-start
        align-content stretch
        gap 10px
        margin 4px
        outline-color: rgb(53, 53, 53)
        box-shadow: 0 0 35px rgb(63, 63, 63)
        outline-width: 3px
        outline-style: double

        &.active
            accent(primary, secondary)
                outline-color: secondary
                box-shadow: 0 0 35px primary
        
            &.starting
                accent(rgb(255, 166, 0), rgb(228, 182, 121))
            
            &.ongoing
                accent(rgb(255, 166, 0), rgb(228, 182, 121))

        output
            display block
            clear both
            float left

        header
            flex-basis 100%
            margin-bottom 10px
            color #fff
            font-family 'Caveat', cursive
            font-size 34px
            text-shadow 3px 3px 3px #000

        section
            flex-basis 30%
            &.schedule
                background #eee
                padding 10px
                color #000
                font-weight normal

        .countdown
            background #000000
            padding 12px 20px
            color #fff
            text-shadow: 2px 2px 4px #000
            border-radius 8px
            font-size 24px
            text-align center
            font-family: Inconsolata

#dailies
    background-image url('../assets/placeholder.jpg')
#eden
    background-image url('../assets/eden.png')
#season
    background-image url('../assets/placeholder.jpg')
#geyser
    background-image url('../assets/geyser.png')
#grandma
    background-image url('../assets/granny.png')
#turtle
    background-image url('../assets/turtle.png')
#season
    background-image url('../assets/eden.png')
#aurora
    background-image url('../assets/aurora.png')
