
#youtube
    clear both

    a
        display block
        float left
        text-decoration none
        color #000
        padding 5px
        width 110px
        margin 10px
        text-align center

    span
        width fit-content
        text-align center

    img
        border-radius 100%
        width 100px

    .channel-name
        color #fff

.tag
    display inline-block
    background red
    padding 4px 8px
    text-transform: uppercase
    border-radius: 50px
    font-size: 10px
    margin: 0 2px

    &.news
        background-color: rgb(187, 253, 124)
        &::after
            content "News"
    &.memes
        background-color: rgb(247, 213, 101)
        &::after
            content "Memes"

    &.guides
        background-color rgb(155, 190, 255)
        &::after
            content "Guides"

    &.shorts
        background-color rgb(199, 199, 199)
        &::after
            content "Shorts"