//- Declarations
- var url = "https://skykid.me/";

//- Functions
mixin img(url, alt)
    picture 
        source(srcset=url + "?as=avif", type="image/avif")
        source(srcset=url + "?as=webp", type="image/webp")
        source(srcset=url + "?as=jpeg", type="image/jpeg")
        img(src=url, alt=alt)

//- Page layout
doctype html
html(lang="en")
    head
        //-base()
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        meta(property="og:title", content="Skykid.Me - Sky Home Page")
        meta(property="og:description", content="Timers and quick links to Sky: Children of the Light")
        meta(property="og:url", content="https://skykid.me/")

        //- script(src='https://momentjs.com/downloads/moment-with-locales.js')
        //- script(src='https://momentjs.com/downloads/moment-timezone.js')
        script(src='https://moment.github.io/luxon/global/luxon.min.js')
        link(rel='stylesheet' href='stylesheet.styl')
        title(data-t) WEB_TITLE 

    body

        header

            //- Community links
            nav#links
                a#website(href="https://www.thatskygame.com/", data-t) LINK.WEBSITE
                a#wiki(href="https://sky-children-of-the-light.fandom.com/", data-t) LINK.WIKI
                a#twitter(href="https://twitter.com/thatskygame", data-t) LINK.TWITTER
                a#instagram(href="https://www.instagram.com/thatskygame/", data-t) LINK.INSTAGRAM
                a#twitch(href="https://www.twitch.tv/thatskygame/", data-t) LINK.TWITCH
                a#discord(href="https://discordapp.com/invite/thatskygame", data-t) LINK.DISCORD

            //- Current time details
            article#current-time
                dl
                    dt(data-t) LOCAL_TIME
                    dd#local-time-value(data-t) LOADING
                dl
                    dt(data-t) SERVER_TIME
                    dd#server-time-value(data-t) LOADING
            
            //- Option to change language
            nav#languages 
                a(href=url) 🇬🇧 English
                a(href=url+"pl/") 🇵🇱 Polski

        //- Timers to track
        section#timers
            mixin timer(tag_id, show_schedule, show_description)
                article.timer(id=tag_id)
                    header(data-t) #{tag_id.toUpperCase()}.NAME
                    output.countdown(data-t) LOADING
            +timer("dailies")
            +timer("eden")
            +timer("season")
            +timer("geyser")
            +timer("grandma")
            +timer("turtle")
            +timer("aurora")

            //- article
            //-     a.twitter-timeline(data-tweet-limit="5", data-chrome="noheader nofooter noborders", data-height="500", data-dnt="true", data-theme="dark", href="https://twitter.com/thatskygame?ref_src=twsrc%5Etfw") Test
            //-         script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")

        //- Useful YouTube channels about Sky
        section#youtube
            mixin youtube(link, name, avatar, tags)
                a(href='https://www.youtube.com/' + link, target='_blank', rel='noreferrer noopener')
                    each tag in tags
                        .tag(class=tag)
                    img(alt=name, src='https://yt3.ggpht.com/' + avatar + '=s176-c-k-c0x00ffffff-no-rj')
                    .channel-name= name
            header Useful channels
            +youtube('c/NoobMode', 'Noob Mode', 'ytc/AMLnZu8wssHpoXp7q60-YVpbOU8jXLBsuk5t7j6kDnVvIA', ['guides', 'news'])
            +youtube('c/Nastymold', 'Nastymold', 'ytc/AMLnZu8PFa_K_2rtFAsLolJFndsDLmHHi98ZMaF4Kixm9g', ['guides', 'news'])
            +youtube('c/SKYBABYCHILDREN', 'SKY BABY CHILDREN', 'BqOXJp4l4tsL2trfANYoMZM5gHrFa6IxG5WG2Eph2OxyhSu4IO3T_uyIRdraePNwrTHpE2lCu9o', ['guides', 'news'])
            +youtube('c/Kakdamba', 'Kakdamba', 'ytc/AMLnZu_zry8HB4jqMo_p8AcP5gHGPl2yjMAmeOj3os3L5Q', ['guides', 'news'])
            +youtube('channel/UCb1fuXaXHbSPzGOMIdFFSXg', 'Moth TVSky', 'AyP3ZwQWiM5FQ9cQEvlOoBSN2hFFx3axksZKcyJcJa1p6FdEmkH7vrR8nFXa8ZsqK-ZxEI0MmVo', ['guides', 'news'])
            +youtube('channel/UCdljVoM2w4zHvnct92K7nVQ', 'Hidden in Sky', '6Ub8iX-XRKSUnzJdE6jNBZRbdlir2AkuSWAhjuwWvgUrjdN6Ar0tgX9Sx10kPclfZMhUiNBr', ['guides'])
            +youtube('channel/UCL8C410aCFMX6tI66R0AjHA', 'Sky Kid Momo', 'FF9--Xa8gZ1BsAupGIw9m5YqeTS8ZqxW3qIpuPuCUjXsFJKCEn9ZbaOch0iGJPyVRLgsc6UM8w', ['news'])
            +youtube('c/AmouAmanogawa', 'Amou Amanogawa', '-4l94Bq-G8pCblI9onrDhzm4_-XtJRnXVrSFf0lGVOONvN7kb6FMmm3gGatFDA_O1vRmdPbgFHk', ['memes', 'shorts'])
            +youtube('channel/UCtAFKSAtgNmp2Hj0g7m5RjQ', 'Peppur', 'o-ZnvzgvdBrmpf_9yZXbEKfq-COfpOcQKp9A6k5B2Ga_0Tha72Y-YznZzPCVRigioyxXdzsn1w', ['guides', 'news'])
            +youtube('user/GIRROCKSTHEDOOM', 'Delicate Cloud', 'sfo-5HLlfZAL8VW7LW_W61q31yHjeMk8TLvCZlY-gDSv2sORPEFmZkPJkusQLWHjN5G8xJiChQ', ['guides', 'news'])

        //- section#social 

        //-     section 
        //-         a.twitter-timeline(data-tweet-limit="5", data-chrome="noheader nofooter noborders", data-height="500", data-dnt="true", data-theme="dark", href="https://twitter.com/thatskygame?ref_src=twsrc%5Etfw") Test
        //-         script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")

        footer 
            section
                header About website 
                p #[b Update 15.09.22:] This is my initial iteration of this website. You can expect some fixes coming soon!
                p Website was made as simple static website.
            
            section
                header Support
                p Costs of running the server that hosts this website and costs of the domain are not huge, but even excluding maintanance and time aspects, it's not exactly free either. If you are financially capable and feeling generous, please consider sending me a donation!
                a(href="https://liberapay.com/tiritto/")
                    img(src="https://img.shields.io/liberapay/receives/tiritto.svg?logo=liberapay&style=for-the-badge")

            section
                header Legal note
                p I am not the creator nor the owner of any of the images used on this website. In-game screenshots were taken from #[a(href="https://thatgamecompany.com/") thatgamecompany] promotional and social media materials. Icons of YouTube channels probably belongs to their respective owners, but I can't guarantee that. Aforementioned content has been used lawfully as reference material under Article 29 of Polish Copyright and related rights Act, commonly known as "Quotation Right".

        script(src="./script.ts", type="module")
        script(src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js')
        script.
            kofiWidgetOverlay.draw('tiritto', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Tip Me',
                'floating-chat.donateButton.background-color': '#323842',
                'floating-chat.donateButton.text-color': '#fff'
            });