//  @import "https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap"

@import "stylesheets/fonts.styl"
@import "stylesheets/timers.styl"
@import "stylesheets/youtube.styl"
@import "stylesheets/links.styl"

html
    background #111 url('../assets/background.png')
    min-height 100vh
    font-family: 'RobotoSlab';

a 
    text-decoration: none
    color: inherit

h1
    font-family 'Caveat', cursive
    font-size 52px
    color #fff
    text-align center

body > header
    text-align: center

#current-time
    text-align center
    dl
        display inline-block
        background red
        text-align center
        margin 0 5px
        overflow: hidden
        background #222
        border 1px #111 solid
        border-radius: 15px
        padding 6px 14px
        font-size: 1.4em

        dt 
            margin-bottom: 6px
        dd
            margin 0 auto
            padding 8px 12px
            background #111
            border-radius: 100px


#support, #quick-links, body > header
    width: 32%
    float left
    color #fff

#support
    text-align: right
    float right
    font-family: 'RobotoSlab';
    font-size: 0.7em
    color #aaa
    background #00000040
    margin 5px

footer
    color #fff
    clear both
    text-align: center
    line-height: 2em
    padding 8px
    margin 0
    font-family: 'RobotoSlab';
    font-size: 0.8em
    background: #00000090
    display flex
    justify-content: space-around

    section
        flex-basis: 32%
        text-align: left

        header 
            font-size: 1.4em
